	img{
		border: 1px solid grey;
	}
	article::after {
            content:"";
            display: block;
            clear:both;
    }
	aside {
            float:left;
            width:20%;
            min-height:500px;
    }
    section {
            float:left;
            width:80%;
            min-height:500px;
    }
	div {
		min-height: 200px;
	}
	header, footer, section {
		padding:1.5rem;
	}
    #menuArea {
  		height: 400px;
  		width: 269px;
	}
   	.menuBtn p {
   		position: absolute;
   		top: 245px;
   		left: 200px;
   		z-index: 1;
   		display: block;
   		font-size:1.5em;
   		color: #444;
   		cursor: pointer;
	}
	.dropdown {
        background-color: #242424;
        width:115px;
        height:36px;
    }
    .dropdown > label,
    .dropdown > a {
        color: white;
        text-decoration: none;
        display:block;
        padding:10px;
        cursor:pointer;
    }
    .dropdown > a {
        display:none;
        
    }
    .dropdown > input[type=checkbox]:checked ~ a {
        display:block;
    }
    .dropdown > input[type=checkbox] {
        display: none;
    }
    li{
    	margin:8px;
    }
    li > a {
    	text-decoration: none;
    	font-size:20px;
    	font-family:굴림;
    }
    th{
    	min-width:300px;
    }
    td{
    	text-align: center;
    }