@charset "UTF-8";

/*게시판 디자인*/

.table{
	color: rgb(100, 100, 100);
}
.table>thead>tr>th{
	border-top:2px solid black;
	border-color: rgb(150, 150, 150);
	padding: 0 0.5rem 0.5rem;
	font-size: 0.8rem;
}
.table>tbody>tr>td{
	border-bottom:1px solid black;
	border-color: rgb(229, 229, 229);
	font-size: 0.9rem;
}
.table>tbody>tr:hover{
	background-color: #f5f5f5;
}
.table>.listBlock>tr>td>a{ /*목록부분*/
	color: rgb(100, 100, 100);
	text-decoration:none;
}
.table>.noticeBlock>tr>td>a{/*공지부분*/
	color: rgb(100, 100, 100);
	text-decoration:none;
	font-weight:bold;
}
.table>tbody>tr>td>a:hover{
	text-decoration: underline;
}
.head-color{
	color: rgb(150, 150, 150);
}
.notice-head-color{
	color: rgb(100, 100, 100);
	font-weight:bold;
}
.input.input-select{
	border-radius: 5px;
	border-color: rgb(229, 229, 229);
	padding: 0.2rem;
	color: rgb(100, 100, 100);
	cursor: pointer;
}
.input.input-text{
	border-style: none none solid;
	border-color: rgb(150, 150, 150);
	padding: 0.2rem;
	color: rgb(100, 100, 100);
	width: 30%;
}
.input.input-sbtn{
	padding: 0.2rem 0.7rem;
	border:1px solid rgb(229, 229, 229);
	color: rgb(100, 100, 100);
	cursor: pointer;
	background-color:white;
	border-radius: 5px;
}
.input.write-btn{
	padding: 0.2rem 1rem;
	border:1px solid rgb(229, 229, 229);
	color: rgb(100, 100, 100);
	cursor: pointer;
	background-color:white;
	border-radius: 5px;
}
.input.input-sbtn:hover{
	background-color: #f5f5f5;
}
.input.write-btn:hover{
	background-color: #f5f5f5;
}

/*float*/
.float-box::after{
	content: "";
	display: block;
	clear: both;
}
.float-right{
	float:right;
}
.overflow{
	overflow: auto;
}
.overflow span{
	vertical-align: bottom;
}

.outbox>.row.margin{
	margin:0;
}
.outbox>.row.div-search{
	margin: 1rem 0;
}
.title{
	font-size: 1.3rem;
	color: rgb(90, 90, 90);
}

/*드롭다운*/
.dropdown {
  display: inline-block;
  color: rgb(100, 100, 100);
  font-size: 0.8rem;
  cursor:pointer;
  min-width: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: auto;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  padding: 10px 12px;
  z-index: 1;
  font-size: 0.9rem;
  cursor:pointer;
}
.dropdown-content a{
	color: rgb(100, 100, 100);
	text-decoration: none;
}
.dropdown:hover{
	text-decoration: underline;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content div:hover a {
	text-decoration: underline;
}

.noticelbl{
	color: rgb(100, 100, 100);
 	font-size: 0.8rem;
}

.reset{
	color: rgb(100, 100, 100);
 	font-size: 0.8rem;
 	text-decoration: none;
}

.reset:hover{
	text-decoration: underline;
}


/*검색결과 개수 디자인*/
.resultNum{
	color: rgb(100, 100, 100);
 	font-size: 0.8rem;
}